<!DOCTYPE HTML>
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body> 




<div class="header">

    <div class="dl-title">
        <img src="__PUBLIC__/assets/img/top.png">
    </div>

    <div class="dl-log">欢迎您1，<span class="dl-log-user">{$adminusername}</span><a href="{:U('Login/logout')}" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">
		
    </ul>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/common/main-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/config-min.js"></script>
<script>
    BUI.use('common/main',function(){
        var config = 
        	[{id:'1',menu:[{text:'商品管理',
        					items:[{id:'1',text:'商品列表',href:'/php/WxShop/wshop2/index.php/Admin/User/user.html'},
				        	       {id:'2',text:'商品分类',href:"{:U('user')}"},
				        	       {id:'3',text:'商品品牌',href:"{:U('User/index')}"},
				        	       {id:'4',text:'商品类型',href:'Menu/index.html'}]},
				        	       
				           {text:'系统管理',
        					items:[{id:'5',text:'机构管理',href:'Node/index.html'},
				        	       {id:'6',text:'角色管理',href:'Role/index.html'},
				        	       {id:'7',text:'用户管理',href:"{:U('User/admin_user')}"},
				        	       {id:'8',text:'菜单管理',href:'Menu/index.html'}]}
				        	       ]},
             {id:'7',homePage : '9',menu:[{text:'订单管理',
            	 			items:[{id:'9',text:'查询业务',href:"{:U('User/user')}"},
            	 			       {id:'6',text:'角色管理',href:'Role/index.html'},
				        	       {id:'7',text:'用户管理',href:'User/index.html'},
				        	       {id:'8',text:'菜单管理',href:'Menu/index.html'}
            	 			       
            	 			       ]}]}];
        
        
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>


</body>
</html>

